%h1
	Liste des postes :
%ul.list-group
	- Post.all.each do |post|
		%li.list-group-item
			.row
				.col-md-2= post.image
			.row
				.col-md-1= link_to "Detail", [post], class: "btn-primary btn"
				.col-md-2= post.titre
			.row
				.col-md-2= post.datepublication
			.row
				.col-md-12= post.chapeau
			.row
				.col-md-12= post.contenu
			.row
				.col-md-1= User.find(post.user_id).nom
				.col-md-1= User.find(post.user_id).prenom
			- if user_signed_in?
				- if current_user.id == post.user_id
					= link_to "Supprimer", post_path(post.id), :method => :delete, class: "btn-danger btn"
					= link_to "Editer", edit_post_path(post.id), class: "btn-primary btn"

- if user_signed_in?
	= link_to "Ajouter un poste", new_post_path, class: "btn-primary btn"