= form_for @post do |f|
	%h1
		Modifier ce post :
	.row
		.col-md-1 titre : 
		.col-md-5= f.text_field :titre
	.row
		.col-md-1 chapeau :
		.col-md-5= f.text_field :chapeau
	.row
		.col-md-1 contenu :
	.row
		.col-md-12= f.text_area :contenu, :rows => 20, :cols => 100


	= f.submit "Modifier le post", class: "btn-success btn"
	= link_to "Retour liste post", "/", class: "btn-primary btn"