%h1
	Liste des postes :
%ul
	- Post.all.each do |post|
		%li
			= post.titre
			= post.datepublication
			= post.chapeau
			= post.image
			= link_to "Supprimer", post_path(post.id), :method => :delete, class: "btn-danger btn"
			= link_to "Editer", edit_post_path(post.id), class: "btn-primary btn"

= link_to "Ajouter un poste", new_post_path, class: "btn-primary btn"