= form_for Post.new do |f|
	%h1
		Ajouter un post :
	.row
		.col-md-1 titre : 
		.col-md-5= f.text_field :titre
	.row
		.col-md-1 chapeau :
		.col-md-5= f.text_field :chapeau
	.row
		.col-md-1 contenu :
	.row
		.col-md-12= f.text_area :contenu, :rows => 20, :cols => 100
	.row
		.col-md-12= f.file_field :image

	= f.hidden_field :datepublication, value: Time.new.to_s
	= f.hidden_field :user_id, value: current_user.id

	= f.submit "Ajouter ce post", class: "btn-success btn"
	= link_to "Retour liste post", "/", class: "btn-primary btn"