.row
	.col-md-12= @post.image
.row
	.col-md-12= @post.titre
.row
	.col-md-12= @post.datepublication
.row
	.col-md-12= @post.chapeau
.row
	.col-md-12= @post.contenu
.row
	.col-md-1 Auteur :
	.col-md-1= @user.nom 
	.col-md-1= @user.prenom

= link_to "Retour liste post", "/", class: "btn-primary btn"