<!DOCTYPE html>
<html>
<head>
  <title>ProjetDawin</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row">
	<div class="col-md-12 text-center">
<% if user_signed_in? %>
	Logged in as <strong><%= current_user.email %></strong>.
	<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link btn-primary btn' %> |
	<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link btn-danger btn'  %>
<% else %>
	<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link btn-primary btn'  %> |
	<%= link_to "Login", new_user_session_path, :class => 'navbar-link btn-primary btn'  %>
<% end %>
	</div>
</div>
<%= yield %>
</body>
</html>
